<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Add book page for admin</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Harum cumque necessitatibus a dolor, sint reiciendis quisquam quas corrupti dolores veniam vero ab molestias. 
        Aliquam necessitatibus odio, blanditiis est sunt saepe.
    </p>
    <script src="/js/main.js"></script>
</body>
</html>