<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Our Shop</h1>
    <ul>
        <li>Book 1 - Title</li>
        <li>Book 2 - Title</li>
        <li>Book 3 - Title</li>
        <li>Book 4 - Title</li>
        <li>Book 5 - Title</li>
        <li>Book 6 - Title</li>
        <li>Book 7 - Title</li>
        <li>Book 8 - Title</li>
    </ul>
    <script src="/js/main.js"></script>
</body>
</html>