<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Add a Book to the Shelf</h1>
    <p>Add your book using the form below.</p>
    <form action="/admin/add-book" method="post">
        <input type="text" name="title" id="title">
        <button type="submit">Add Book</button>
    </form>
</body>
</html>