<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shelf</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>This is our books shelf.</h1>
    <h3>Our Books:</h3>
    <ul>
        <li>Book Title - 1</li>
        <li>Book Title - 2</li>
        <li>Book Title - 3</li>
    </ul>

    <script src="/js/alert.js"></script>
</body>
</html>