<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Assignment 6</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link <%= active === 'users' ? 'active' : '' %>">Users</a>
                <a href="/user/register" class="nav-item nav-link <%= active === 'register' ? 'active' : '' %>">Add User</a>
            </div>
        </div>
    </nav>
</header>